<!DOCTYPE html>
<html>
  
  <body>
    <h1>Welcome to our application <%= @user.email %></h1>
    <p>
      You have successfully signed up
      your username is: <%= @user.email %>.<br>
      your password is: <%= @user.password %>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
